* {
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 820px;
}

body input {
    background-color: aliceblue;
    width: 497px;
    height: 42px;
    margin-bottom: 10px;
}

body button {
    height: 50px;
    width: 500px;
    background-color: skyblue;
    margin-bottom: 10px;
    font-size: medium;
}

.todo {
    background-color: whitesmoke;
    height: 70px;
    width:800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.todo td {
    margin: 10px;
    background-color: whitesmoke;
}

.todo td a {

    background-color: whitesmoke;
}

body h3 {
    text-align: center;
    margin-bottom: 50px;
}